<% if (success === "true") { %>
  <div class="row">
    <% if (action === "create") { %>
      <div class="alert alert-success" role="alert">
        New post successfully created
      </div>
    <% } else if (action === "update") { %>
      <div class="alert alert-info" role="alert">
        Post is successfully updated
      </div>
    <% } else if (action === "delete") { %>
      <div class="alert alert-danger" role="alert">
        Post is successfully deleted
      </div>
    <% } %>
  </div>
<% } %>