<%- include("../partials/header.ejs") %>
  <div class="container">
    <h2>Sign up</h2>
    <form method="POST" action="/users/signup">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control" />
      </div>
      <div>
        <input type="submit" class="btn btn-primary mb-3" value="Sign up" />
      </div>
    </form>
  </div>
<%- include("../partials/footer.ejs") %>
