<%- include("../partials/header.ejs") %>
<div class="container">
  <h2>Create a new post</h2>
  <form method="POST" action="/posts" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="headline" class="form-label">Headline:</label>
      <input type="text" name="headline" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="featuredImage" class="form-label">Featured Image:</label>
      <input type="file" name="featuredImage" class="form-control" accept="image/*"/>
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author:</label>
      <input type="text" name="author" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="publishedDate" class="form-label">Published Date:</label>
      <input type="datetime-local" name="publishedDate" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content:</label>
      <textarea name="content" class="form-control"></textarea>
    </div>
    <div>
      <input type="submit" class="btn btn-primary mb-3" value="Create new post" />
    </div>
  </form>
</div>
<%- include("../partials/footer.ejs") %>